@reference "tailwindcss";

:host {
  display: contents;
}

:host.clickable {
  cursor: pointer;
}

.match-result-bar {
  @apply absolute left-0 top-0 bottom-0 w-[5px];

  &.win-bar {
    @apply bg-green-500;
  }

  &.loss-bar {
    @apply bg-red-500;
  }
}

.match-items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: center;
  min-width: 100px;
}

.item-icon {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  object-fit: contain;
}

.match-others {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: center;
  min-width: 120px;
}

.champ-icon-sm {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  object-fit: cover;
}
